.nav-menu {
    background-color: rgb(156, 207, 252);
    margin: 0;
}

.navbar-collapse {
    padding: 0;
}

.content-menu {
    background-color: rgb(255, 205, 176);
    margin: 25px;
}

p {
    padding: 20px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
    .content-menu {
        margin: 0 10% 0 10% ;
    }
}